<div class="sa-campaign-card sa-my-campaign-card">
    <div class="sa-campaign-image">
        <img src="__image__" alt="__title__" onerror="this.src='modules/sa/support_scheme/template/images/default-other.png'">
        <span class="sa-campaign-category sa-category-__category__">__category_label__</span>
        <span class="sa-status-badge sa-status-__status__">__status_label__</span>
    </div>
    
    <div class="sa-campaign-body">
        <h3 class="sa-campaign-title">
            <a href="__url__">__title__</a>
        </h3>
        
        <div class="sa-progress-wrap">
            <div class="sa-progress-bar">
                <div class="sa-progress-fill" style="width: __progress__%"></div>
            </div>
            <div class="sa-progress-text">
                <span class="sa-current">__formatted_current__</span>
                <span class="sa-goal">of __formatted_goal__</span>
            </div>
        </div>
        
        <div class="sa-campaign-meta">
            <span><i class="sys-icon calendar"></i> Created __created_formatted__</span>
            <span><i class="sys-icon heart"></i> __donations_count__ donations</span>
        </div>
        
        <a href="__url__" class="sa-btn sa-btn-secondary sa-btn-block">
            <i class="sys-icon eye"></i> View Campaign
        </a>
    </div>
</div>
